/** ------------------------------------------------------------ */
/** src/shared/ui/ui.css */
/** ------------------------------------------------------------ */
.field {
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  font-size: 75%;
}

.field p {
  text-align: right;
}

.field input {
  /*font-size: 14px;*/
}

.field select {
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: monospace;
  /*font-size: 14px;*/
}

/** ------------------------------------------------------------ */
/** src/_features/add-task/add-task.css */
/** ------------------------------------------------------------ */
.new{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9999;
}

/** ------------------------------------------------------------ */
/** src/__widgets/filter/filter.css */
/** ------------------------------------------------------------ */
.filter {
  width: 50%;
  /*display: grid;*/
  /* Создает максимально возможное число колонок шириной не менее 200px */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /*gap: 10px;*/
}

/** ------------------------------------------------------------ */
/** src/__widgets/kanban/kanban.css */
/** ------------------------------------------------------------ */
.kanban {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kanban__folders {
  display: grid;
  /* Создает максимально возможное число колонок шириной не менее 200px */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2px;
}

.kanban__folder_title {
  text-align: center;
}

.kanban__content {
  flex-grow: 1;       /* Растягиваться и занимать всю свободную высоту */
  min-height: 0px;    /* Критически важно для корректного скролла во Flexbox */
  overflow-y: auto;   /* Включаем прокрутку */
}

.kanban__project_title {
  background-color: cadetblue;
  color: white;
  text-align: left;
  font-size: 14pt;
}

/** ------------------------------------------------------------ */
/** src/__app/app.css */
/** ------------------------------------------------------------ */
*{
    margin: 0px;
    padding: 0px;
    
}


html {
    height: 95%;
}

body {
    height: 100%;
}

input, 
textarea, 
button, 
select {
  font:  inherit;
  color: inherit;
}

.ui {
  height: 100%;
}

