.item {
  max-width: 500px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  background-color:beige;
}

.item__header {
  /*margin: 2px;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:  "ch tl tl tl tl tl tl tl tl tl sv dl"
                        "ni nt nt nt nt nt nt nt nt nt rm dl";
  gap: 2px;
}

.item__header_checked {
  color: gray;
  text-decoration: line-through;
}

.item__title {
  grid-area: tl;
  border-style: none;
  padding-left: 2px;
  padding-right: 2px;
  field-sizing: content;
  resize: none;
  text-align: left;
}

.item__save {
  grid-area: sv;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  border-radius: 3px;
}

.item__remove {
  grid-area: rm;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: red;
}

.item__details-button {
  grid-area: dl;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}


.task__check {
  grid-area: ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__check_type_list-item {
  background-color: gray;
  border-radius: 50%;
}

.task__note-icon {
  grid-area: ni;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__note {
  grid-area: nt;
  border-style: none;
  padding: 2px;
  width: 100%;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  font-style: italic;
}